.sidebar {

    width: 280px;
    min-height: 100vh;

    background: #1E293B;

    color: #F8FAFC;

    display: flex;
    flex-direction: column;

    border-right: 1px solid #334155;

}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    border-bottom: 1px solid #334155;
}

.sidebar-logo {
    width: 170px;
    height: auto;
    transition: transform 0.3s ease;
}

.sidebar-logo:hover {
    transform: scale(1.03);
}

.sidebar-header h2 {

    margin: 0;

    color: #06B6D4;

    font-size: 1.8rem;

}

.sidebar-header p {

    margin-top: 8px;

    color: #CBD5E1;

    font-size: 0.9rem;

}

.sidebar-menu {

    padding-top: 20px;

    flex: 1;

}

.sidebar-menu ul {

    list-style: none;

    padding: 0;

    margin: 0;

}

.sidebar-menu li {

    margin: 4px 12px;

}

.sidebar-menu a {

    display: block;

    padding: 15px 20px;

    color: #F8FAFC;

    text-decoration: none;

    border-radius: 10px;

    transition: all 0.3s ease;

    font-size: 1rem;

}

.sidebar-menu a:hover {

    background: #334155;

    color: #06B6D4;

}

.sidebar-menu a.active {

    background: #06B6D4;

    color: white;

    font-weight: 600;

}